@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

@font-face {
    font-family: "aArigatouGozaimasu";
    src: url(./assets/fonts/aArigatouGozaimasu.ttf);
}
@import "./components/utils/Sidebar/sidebar.scss";
@import "./components/utils/Footer/footer.scss";
@import "./components/utils/Header/header.scss";
@import "./components/pages/Products/products.scss";
@import "./components/pages/AllProducts/allProducts.scss";

.App {
    background: url(https://res.cloudinary.com/dmaiqkpom/image/upload/v1646251593/fondo-admin30_oe80rt.png);
    background-size: repeat;
    margin: 0;
    padding: 0;
}

.home{
    display: flex;
    flex-direction: row;
}